spring.application.name=geolocation

spring.datasource.url=jdbc:postgresql://localhost:5432/primary_health
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

google.maps.api.key=YOUR_API_KEY_HERE